@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root{
    --headings:28px;
    --short-headings:14px;
    --medium-heading:22px ;
    --medium-short-headings:12px;
    --heder-height:5rem;
    --mobile-height:1rem;
}
body{
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* height: 100vh; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* border: 5px solid green; */
    /* background-color: rgb(51, 56, 58); */
    /* background-image: url(bg1.jpg);
    background-size: cover; */
    word-break: normal;
    background-color: rgb(255, 255, 255);
}

.home-section{
    width: 100%;
}

.nav-div{
    display: flex;
    justify-content: center;
    align-items: center ;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
    box-shadow: 0px 2px 6px 0px rgba(183, 177, 177, 0.23),
    0px 0px 0px 0px rgba(0, 0, 0, 0.16);
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 10;

}
.nav-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:50px;
    max-width: 1000px;
    /* border: 2px solid red; */
    padding: 10px;
    color: #000000;
    font-size: 15px;
}
.nav-bar.mobile{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
.nav-items ul{
    display: flex;

}
ul .items{
    margin-inline: 18px;
}
ul span.material-symbols-outlined.phone-screen {
    display: none;
}
.phone-nav{
    display: none;
}
#phone-menu{
    font-size: 22px;
    font-weight: bolder !important;
}
.br{
    display: none;
}
.main-home-div{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center ;
    position: relative;
    margin-top: 70px;
}
.home-contents{
    display: flex;
    justify-content:space-between;
    align-items:center;
    max-width: 1000px;
    /* border: 2px solid red; */
    /* padding-top: 100px; */
    /* padding-bottom: 50px; */
    height: 80vh;
}
.home-text{
    margin-inline-end:80px;
}
.home-text h2{
    font-size: 40px;
}
.home-text h4{
    font-size: 26px;
    color: #353535;
}
.home-text h2,h4{
    margin:7px;
    
}
.lottie-plyer{
    width: 400px !important;
    height: 400px !important;
}
.home-social{
    color: rgb(173, 173, 173);
    margin-top: 25px;
}
.home-social .social{
    color: rgb(173, 173, 173);
    font-size: 15px;
    cursor: pointer;
    margin-inline-end: 25px;
}
.home-social .social:hover{
    color: #3b38c8;
}
.contact-div{
    margin-top: 25px;
}
.contact-div button{
    width: 120px;
    height: 45px;
    font-size: 14px;
    background-color:#5452dc;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
@media (max-width: 950px) {
    .home-contents{
        height: auto;
        margin: 25px;
        margin-top: 50px;
    }
    .home-text{
        margin-inline-end:20px;
    }
    .lottie-plyer{
        width: 300px !important;
        height: 300px !important;
    }
    .home-text h2{
        font-size:35px;
    }
    .home-text h4{
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .main-home-div{
        margin-top: 10px;
    }
    .home-text h2{
        font-size:32px;
    }
    .home-text h4{
        font-size: 22px;
    }
    .home-contents{
        height: auto;
        margin: 25px;
    }
    .nav-div {
        bottom: 0;
        top: unset;
    }
    .phone-nav{
        display: block;
    }
    .nav-bar.mobile{
        display: block;
    }
    .mobile-nav-items{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: -200px;
        /* padding-bottom: 35px; */
        background-color: white;
        transition: transform 0.3s ease-in-out; /* Add a smooth transition */
        transform: translateY(100%);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        box-shadow: 0px -2px 5px 0px rgba(77, 73, 73, 0.23);

    }
    .mobile-nav-items.active{
        bottom: 50px;
        transform: translateY(0);
    }

    .nav-bar.mobile{
        display:flex;
        justify-content:space-between;
        align-items: center !important;
        width: 100%;
        /* height: 70px; */
        max-width: 1000px;
        /* border: 2px solid red; */
        padding: 10px;
        height: 35px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.23);

    }

    .first-nav{
        width: 100%;
        /* border: 2px solid rgb(0, 106, 255); */
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 10px;

    }
    .first-nav ul{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .second-nav ul{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .second-nav{
 
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    .nav-bar{
        display: none;
    }
    ul span.material-symbols-outlined.phone-screen {
        display: block;
        margin: 8px;

    }
    ul .items{
        text-align: center;
        
    }
    ul{
        padding: 0;
        margin: 10px;
    }
    .hidden{
        display: none;
    }
}
@media (max-width: 730px) {
    .home-contents{
        display: flex;
        flex-direction: column-reverse;
    }
    .home-text{
        margin-inline-end:0px;
    }
    .lottie-plyer{
        margin-bottom: 15px;
        width:500px !important;
        height: 500px !important;
    }
    .home-text h2{
        font-size: 40px;
    }
    .home-text h4{
        font-size: 26px;
    }
    .contact-div button{
        height: 50px;
    }
    .home-social .social{
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .lottie-plyer{
        margin-bottom: 15px;
        max-width:400px !important;
        max-height: 400px !important;
        width: 100%;
    }
    .home-text h2{
        font-size: 34px;
    }
    .home-text h4{
        font-size: 22px;
    }
}
@media (max-width: 400px) {
    .lottie-plyer{
        margin-bottom: 15px;
        max-width:380px !important;
        max-height: 300px !important;
        width: 100% !important;
    }
    .home-text h2{
        font-size: 27px;
    }
    .home-text h4{
        font-size: 19px;
    }
    .contact-div button{
        height: 42px;
    }
}
@media (max-width: 360px) {
    .home-text h2{
        font-size: 20px;
    }
    .home-text h4{
        font-size:16px;
    }
    .contact-div button{
        width: 100px;
        height: 38px;
    }
    .home-social .social{
        font-size: 16px;
    }
}



            /* about---css */


            .main-about-txt{
                display: flex;
                justify-content: center;
                padding-top: var(--heder-height);
            }
            .abot-txt{
                font-size: var(--headings);
            }
            .main-about{
                max-width:1000px;
            }
            #about{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: black;
                /* height: 100vh; */
                /* border: 2px solid rgb(72, 249, 110); */
            }
            .about-contents{
                display: flex;
                align-items: center;
                word-break:normal;
                /* border: 2px solid red; */
                padding: 0px 30px 0px 30px;
                /* word-wrap: break-word; */

            }
            #about-photo{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                box-shadow: rgba(42, 66, 81, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            }
            .exp{
                font-size: 24px;
                font-weight: 600;
                margin: 0;
            }
            .exp-description{
                margin: 0;
                font-size: 15px;
                text-align: center;
            }
            .exp-items{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 18px;
                /* border: 2px solid rgb(22, 136, 7); */

                
            }
            .about-details-div{
                font-size:15 px;
                margin-left: 30px;
            }
            .exp-details{
                display: flex;
                justify-content: center;
                align-items: center;
                /* border: 2px solid red; */
            }
            @media (max-width:990px){
                .exp{
                    margin-bottom: 2px;
                }
            }
            @media (max-width:768px){
                .main-about-txt{
                    padding-top: var(--mobile-height);
                }
            }
            @media (max-width:730px){
                .abot-txt{
                    font-size: var(--medium-heading);
                }
                .about-contents{
                    flex-direction: column;
                    padding: 0px 15px 0px 15px;

                }
                .about-details-div{
                    font-size:16 px;
                    margin-left: 0px;
                }
                .about-second-sec{
                    margin: 5% 10%;
                }
                #about-photo{
                    width: 370px;
                    height: 370px;
                    border-radius: 10px;
                    box-shadow: none;
                    /* box-shadow: rgba(42, 66, 81, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
                }

            }
            @media (max-width:650px){
                .exp-description{
                    font-size: 13px;
                }
            }
            @media (max-width:470px){
                #about-photo{
                width: 310px;
                height: 310px;
                }
                .about-second-sec{
                    margin: 5% 5%;
                    font-size:18px;
            }
            }
            @media (max-width:370px){
                .exp-items{
                    padding: 9px;

                }
            }
            @media (max-width:340px){
                #about-photo{
                    max-width: 270px;
                    max-height: 270px;
                    width: 100%;
                }
            }
            @media (max-width:300px){

                .exp-description{
                    font-size:9px;
                }
            }
            @media (max-width:170px){
                .about-second-sec{
                    margin: 5% 5%;
                    font-size: 12px;
            }
            
            .exp-description{
                font-size:7px;
            }
            }
            @media (max-width:130px){
                .main-about-txt{
                    font-size: 12px;
                }
            }

            /* skill---css */


#skill-sec{
    width: 100%;
    /* height: 100vh; */
    /* border: 2px solid rgb(38, 255, 0); */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* background-image: url(/portfolio/slill.webp);
    background-size: cover; */
    color: rgb(0, 0, 0);
    /* background-color: rgb(0, 0, 0); */
}
#skills{
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: var(--headings);
    font-weight: bold;
    padding-top: var(--heder-height);
    animation-name: skills;
    animation-duration: 7s;
    /* border: 2px solid red; */
}
#skill-bottom-txt{
    font-size: var(--short-headings);
    display: flex;
    justify-content: center;
    margin: 0px;
    animation-name: skills;
    animation-duration: 7s;
}
.main-skill{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-slills{
    width: 900px;
    margin-top: 2%;
    font-weight: bold;
    /* border: 2px solid rgb(45, 192, 32); */
    animation-name: skills;
    animation-duration: 6s;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* position: relative; */


}
.heading{
    font-size: 18px;
    /* font-weight: bold; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 4px solid rgb(10, 30, 157); */
    padding: 25px;
}
.left{
    width:50%;
    display:flex;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    /* border: 4px solid rgb(114, 7, 129); */
    /* background-color: rgb(119, 171, 190); */
}
.frondend{
    width: 100%;
    font-size: 14px;
    /* height: 245px; */
    /* border: 2px solid rgb(223, 0, 0); */
    /* margin-inline-end: 20%; */
}
.backend{
    width: 100%;
    font-size: 14px;
    /* height: 245px; */
    /* border: 2px solid red; */
}
.designing{
    width: 100%;
    /* margin-inline-end: 20%; */
    font-size: 14px;

    /* border: 2px solid red; */
}
.other{
    width: 100%;
    font-size: 14px;

    /* border: 2px solid red; */
}
#skill-icon{
    position: relative;
    margin-inline-end: 10px;
    color: #3b38c8;
    /* border: 2px solid red; */

}
#more{
    position: relative;
    margin: 0;
    font-size: 40px;
    cursor: pointer;
    /* border: 2px solid red; */
    transition: transform 0.4s;


}
#per-bar{
    /* border: 1px solid rgb(103, 154, 212); */
    width: 100px;
    height: 7px;
    background-color: rgb(162, 199, 255);
    display: flex;
    justify-content:start;
    align-items: start;
    border-radius: 10px;
}
.skill-type{
    /* background-color: #383939; */
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* border: 2px solid white; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 8px;
    border-radius: 7px;
}
.skillls-div .my-skills-list{
    /* border: 2px solid red; */
    max-height:0px;
    /* transition: max-height 1.6s; */
    overflow: hidden;
    transition: max-height 0.6s;

}
.skillls-div.list #more{
    transform: rotate(-180deg);
    transition: transform 0.5s;

}
.skillls-div.list .my-skills-list{
    max-height:800px;
    transition: max-height 0.6s;
    
}
#html{
    width: 90%;
    height: 7px;
    background-color: #4d4ae4;
    border-radius: 10px;
}
#css{
    width: 90%;
    height: 7px;
    background-color: #4d4ae4;
    border-radius: 10px;
}
#js{
    width: 70%;
    height: 7px;
    background-color:#4d4ae4;
    border-radius: 10px;
}
#react{
    width: 70%;
    height: 7px;
    background-color: #4d4ae4;
    border-radius: 10px;
}
#bootstrap{
    width: 80%;
    height: 7px;
    background-color: #4d4ae4;
    border-radius: 10px;
}
#python{
    width: 70%;
    height: 7px;
    background-color: #4d4ae4;
    border-radius: 10px;
}
#django{
    width: 85%;
    height: 7px;
    background-color: #4d4ae4;
    border-radius: 10px;
}
#mysql{
    width: 70%;
    height: 7px;
    background-color:#4d4ae4;
    border-radius: 10px;
}
#photoshop{
    width: 50%;
    height: 7px;
    background-color: #4d4ae4;
    border-radius: 10px;
}
#git{
    width: 70%;
    height: 7px;
    background-color:#4d4ae4;
    border-radius: 10px;
}
@media (max-width:1024px){
    .my-slills{
        width: 90%;
    }
}
@media (max-width:768px){
    #skills{
        padding-top: var(--mobile-height);
    }
}

@media (max-width:700px){
    .my-slills{
        width: 90%;
    }
    .my-slills{
        display: flex;
        flex-direction:column;
    }
    .left{
        width: 100%;
        display: flex;
        padding: 0;
    }
    .right{
        padding: 0;
        width: 100%;
        display: flex;
    }
    .frondend{
        width: 90%;
    }
    .backend{
        width: 90%;
    }
    .designing{
        width: 90%;
    }
    .other{
        width: 90%;
    }

}
@media (max-width:650px){
    #skills{
        margin-top: 1vh;
        font-size: var(--medium-heading);
    }
    #skill-bottom-txt{
        font-size: var(--medium-short-headings);
        margin-top: 0;
    }
    .heading{
        font-size: 16px;
    }

}
@media (max-width:420px){
    .heading{
        justify-content: start;
    }
}
/* @media (max-width:1024px){
    .heading{
        font-size: 20px;
    }
    .frondend{
        display: flex;
        flex-direction: column;
        font-size: 13px;
        width: 60%;

    }
    .backend{
        display: flex;
        flex-direction: column;
        font-size: 13px;
        width: 60%;

    }
    .other{
        display: flex;
        flex-direction: column;
        font-size: 13px;
        width: 60%;

    }
    .designing{
        display: flex;
        flex-direction: column;
        font-size: 13px;
        width: 60%;
    }
    .left{
        width: 80%;
    }
    .right{
        width: 80%;
    }
    #more{
        font-size: 30px;
        top: 8px;
    }


} */
/* @media (max-width: 820px){
    .frondend{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        width: 60%;
        margin-inline-end: 10%;

    }
    .backend{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        width: 60%;

    }
    .other{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        width: 60%;

    }
    .designing{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        width: 60%;
        margin-inline-end: 10%;
    }
    .heading{
        font-size: 18px;
    }
} */
/* @media (max-width: 680px){
    .frondend{
        font-size: 14px;
        width: 90%;
        margin-inline-end: 7%;
    }
    .backend{
        font-size: 14px;
        width: 90%;

    }
    .other{
        font-size: 14px;
        width: 90%;

    }
    .designing{
        font-size: 14px;
        width: 90%;
        margin-inline-end: 7%;
    }
    .heading{
        font-size: 18px;
    }
    .left{
        width: 90%;
    }
    .right{
        width: 90%;
    }
} */
/* @media (max-width:650px){
    #skills{
        padding-top:4vh;
    }
} */
/* @media (max-width: 430px){
    .frondend{
        font-size: 10px;
        width: 50%;
        margin-inline-end: 7%;
    }
    .backend{
        font-size: 10px;
        width: 50%;

    }
    .other{
        font-size: 10px;
        width: 50%;

    }
    .designing{
        font-size: 10px;
        width: 50%;
        margin-inline-end: 7%;
    }
    .heading{
        font-size: 18px;
    }
    .top{
        width: 90%;
    }
    .bottom{
        width: 90%;
    }
} */

/* @media (max-width: 580px){
    .frondend{
        font-size: 13px;
        width: 80%;
        margin-inline-end: 0%;
    }
    .backend{
        font-size: 12px;
        width: 80%;

    }
    .other{
        font-size: 13px;
        width: 80%;

    }
    .designing{
        font-size: 13px;
        width: 80%;
        margin-inline-end: 0%;
    }
    .heading{
        font-size: 16px;
    }
    .left{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .right{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    #skills{
        font-size:var(--medium-heading);
    }
    #skill-bottom-txt{
        font-size: var(--medium-short-headings);
    }

} */



                     /* service -- css */


#service-sec{
    width: 100%;
    /* height: 100vh; */
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid red; */
    /* border-bottom: 1px solid rgb(49, 48, 48); */
}
.Service-txt-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Service-txt{
    font-size: var(--headings);
    margin-top:var(--heder-height);
    /* border: 2px solid red; */
}
.Service-bottom-txt{
    position: relative;
    /* margin-top: 20vh; */
    bottom: 20px;
    font-size: var(--short-headings);
    /* border: 2px solid red; */

}
.services{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 10px;
}
.service-items{
    width: 300px;
    height:250px;
    margin:30px;
    /* background-color: rgb(24, 22, 22); */
    background-color: transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* border: 2px solid #ddcfcf; */
    cursor: pointer;
    display: flex;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-items:hover{
    transform: translateY(0) scale(1.02);
}
.service-type-txt-div{
    font-size: 20px;
    font-weight: bolder;
    display:flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid rgb(42, 181, 18); */
    justify-content: center;
    align-items: center;
}
.service-type-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(28, 180, 144); */

}
#service-icon{
    margin: 25px;
    font-size: 45px;
    color:#4d4ae4;
    /* border: 2px solid rgb(0, 0, 0); */
}
.service-icon{
    position: absolute;
    /* border: 2px solid red; */
    

}
.service-contact-click{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}
#service-contact{
    /* border: 2px solid red; */
    width: 130px;
    height: 50px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    /* background-color: rgb(24, 22, 22); */
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    /* margin-top: 90px; */
}
#service-contact:hover{
    transform: scale(1.03);
}



.service-contact-info{
    /* width: 100%; */
    background-color:#6361e1;
    padding: 3%;
    margin-top: 4%;
    color: white;
    /* padding-bottom: 7%; */
    word-break: normal;
    

}
.service-contact-info-txt{
    margin: 15px 30px 25px 30px;
    text-align: center;
}
.sizee{
    font-size: 19px;
    font-weight: 600;
}


.read-more{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items:center;    
    font-size: 12px;
    margin: 0;   
    color: #3b38c8;
}
.read-more span{
    margin-left:5px;
}

/* service modal css */


/* .modal{
    display: block;
    position: fi ;
    top: 0;
    left: 0 ;
    width: 100%; 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 50vh auto;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  } */
  

@media (max-width: 1024px){
        .service-items{
            width: 300px;
            height:250px;
            /* border: 2px solid red; */
        }

        .service-type-txt-div{
            font-size: 18px;
        }
        #service-icon{
            margin: 20px;
            font-size: 45px;
        }
        #service-sec{
            width: 100%;
        }
    }


    @media (max-width: 1000px){
        .service-items{
            width: 300px;
            height: 250px;
        }

    }
@media (max-width: 800px){
    #service-icon{
        margin: 20px;
        font-size: 32px;
    }
}
@media (max-width: 768px){
    .Service-txt{
        margin-top:var(--mobile-height);
    }
}

@media (max-width: 700px){
    .service-items{
        width: 420px;
        height: 250px;
        margin-bottom: 15px;
    }
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 30px; */
    }
    #service-contact{
        width: 130px;
        height: 60px;
    }
    #service-icon{
        margin: 27px;
    }
}

@media (max-width: 600px){
    .Service-txt{
        font-size: var(--medium-heading);
    }
    .Service-bottom-txt{
        font-size: var(--medium-short-headings);
    }
    
}

@media (max-width: 500px){
    .service-type-txt-div{
        font-size: 15px;
    } 
    .service-items{
        width: 70%;
        height: 200px;
    }
    #service-icon{
        margin: 17px;
        font-size: 25px;
    }

}  




@media (max-width:410px){
    .sizee{
        font-size: 17px;
    }
    .sizee2{
        font-size: 14px;
    }
    .service-contact-info{
        padding-bottom: 5%;
    }
}





@media (max-width: 250px){
    .service-type-txt-div{
        font-size: 15px;
    } 
    .read-more{
        font-size: 12px;
    }

}  
@media (max-width: 170px){
    .service-type-txt-div{
        font-size: 10px;
    } 
    .Service-txt{
        font-size: 20px;
    }
    .read-more{
        font-size: 8px;
    }
}  
@media (max-width: 130px){
    .service-type-txt-div{
        font-size: 5px;
    } 
    .Service-txt{
        font-size: 20px;
    }
    #service-icon{
        margin: 5px;
        font-size: 20px;
    }
    
}  

            /* portfolio css */

.portfolio-sec{
    margin: 0;
    padding: 0;
    width: 100%;
    color: black;
    padding-top: var(--heder-height);
    /* border: 2px solid red; */
}
.mySwiper{
    /* border: 2px solid rgb(43, 207, 60); */
    width:900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.swiper-btn{
    color: #000000 !important;
    font-size: 10px !important;
    visibility: hidden;
    /* border: 2px solid red; */
    /* position: absolute; */

}
.arrow{
    position: absolute;
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    visibility: visible;
    font-size: 30px !important;
}
.portfolio-heading{
    margin: 0;
    padding: 0;
}
.portfolio-heading h1{
    margin: 0;
    text-align: center;
    font-size: var(--headings);
    margin-bottom: 2px;
}
.portfolio-heading p{
    margin: 0;
    font-size: var(--short-headings);
    text-align: center;
}
.portflio-div{
    margin: 0;
    padding: 0;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(41, 154, 111); */
}
.portfolio-content .portflio-img{
    border: 1px solid rgb(213, 208, 208);
    max-width: 600px;
    max-height: 300px;
    object-fit: cover;
    background-size: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portflio-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.portflio-demo{
    width: 120px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b38c8;
    color: white;
    margin-top: 12px;
    cursor: pointer;
    /* padding: 7px; */
    padding-inline-start: 14px;
    outline: none;
    border: none;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px;
}
.portflio-demo:hover{
    transform: scale(1.03);
}
.demo{
    margin: 0;
    /* margin-inline-start: 4px; */
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.portfolio-content img:hover{
    transform: scale(1.02);
    /* transform: translateY(0) scale(1.02); */


}
.portfolio-content-txt{
    /* width: 700px; */
    /* max-width: 700px; */
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break:normal;
    /* border: 2px solid red; */
    padding: 10px;

}
.portfolio-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgba(17, 156, 47, 0.57); */
    width: 100%;
    object-fit: cover;

}

.portfolio-content-txt p ,h5{
    
    margin: 0;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: break-all;

}

@media(max-width:900px){

    .mySwiper{
        width:90%;
    }
    .portfolio-content .portflio-img{
        width: 80%;
    }
}
@media(max-width:768px){
    .portfolio-sec{
        padding-top: var(--mobile-height);
    }
}

@media(max-width:600px){
    .portfolio-heading h1{
        font-size: var(--medium-heading);
    }
    .portfolio-heading p{
        font-size: var(--medium-short-headings);
    }
}

@media(max-width:560px){

    .mySwiper{
        width:90%;
    }
    .arrow{
        font-size: 25px !important;
    }
    .rightarrow{
        margin-left: 20px;
    }
    .leftarrow{
        margin-right: 20px;
    }
}
@media(max-width:650px){
    .portfolio-heading{
        padding-top: 1vh;
    }
}
@media(max-width:560px){
    .arrow{
        font-size: 22px !important;
    }
    .rightarrow{
        margin-left: 30px;
    }
    .leftarrow{
        margin-right: 30px;
    }
}


            /* contact -- css */



    /* *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */
    #contact-sec{
        margin: 0;
        padding: 0;
        width: 100%;
        /* height: 100vh; */
        /* margin-bottom:5%; */
        /* border: 4px solid red;                                                           */
        /* background-image: url(contact\ sec.jpeg); */
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        /* padding-bottom: 5%; */
        
    }
    .contact-me{
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: 10%; */
        padding-top: var(--heder-height);
    }
    .first-txt{
        font-size: var(--headings);
        font-weight: bold;
        margin: 0%;
    }
    .secnd-txt{
        font-size: var(--short-headings);
        text-align: center;
        margin: 1vh;
    }
    #details-div{
        display: flex;
        justify-content: center;
    }
    .my-details{
        width: 80%;
        word-break: break-all;
        /* height: 60vh; */
        box-sizing: border-box;
        /* border: 2px solid rgb(235, 66, 66); */
        display: flex;
        /* align-items: center; */
        justify-content: center;
        margin-top: 5vh;
        /* background-color: rgb(57, 91, 104); */
        /* opacity: 0.7; */
        /* border-radius: 30px; */
        overflow:hidden;
        /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
        padding-bottom: 5%;
    }

    /* .my-div{
        display: flex;
        justify-content: center;
    } */
    .my{
        /* border: 2px solid rgb(0, 255, 47); */
        padding-right:4%;
        /* margin-bottom: 5vh; */
        /* width: 40%; */
        /* margin-left: 10%; */
        /* height: 60vh; */
        /* border: 2px solid rgb(255, 0, 0); */

    }
    .my-div{
        display:flex;
        justify-content: end;
        width: 40%;
        /* border: 2px solid red; */
        margin: 0;
        padding: 0;
    }
    .personal-dt{
        margin-bottom:2%;
    }
    #co-id{
        margin: 0;
        /* font-size: 120%; */
        color: rgb(0, 0, 0);
        font-weight:600;
        /* margin-left: 12%; */
        /* margin: 0; */
        /* margin-top: 3px;  */
        margin-bottom: 7px;
    }
    #co-d{
        /* font-size: 100%; */
        padding: 0;
        margin: 0;
        color: rgb(0, 0, 0);
        /* font-weight:600; */
        /* margin-left: 12%; */
    }
    .input-sec{
        width: 40%;
        display: flex;
        /* border: 2px solid rgb(255, 0, 0); */
        box-sizing: border-box;
        display: flex;
        justify-content:start;
        align-items: center;
        padding-left: 4%;
        /* background-image: url(contact\ sec.jpeg); */
        /* border-radius: 30px; */
        /* background-color: rgb(255, 255, 255);
        opacity: 0.4; */
        
    }
    /* .inp{
        border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
    } */
    input{
        width: 100%;
        height: 10vh;
        margin-bottom:6%;
        padding-inline: 20px;
        box-sizing: border-box;
        /* background-color: rgb(43, 41, 41); */
        background-color: rgb(229, 236, 241);
        color: rgb(0, 0, 0);
        font-size: 15px;
        /* font-weight: 600; */
        /* border: 5px solid rgb(197, 33, 33); */
        border: none;
        border-radius: 8px;
        outline: none;
        /* box-shadow: rgba(71, 94, 99, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
       
        
        
    }
    #message{
        width: 100%;
        height: 15vh;
        padding-top: 10px;
        background-color:rgb(229, 236, 241);
        /* border: 1px solid rgb(0, 0, 0); */
        border-radius: 8px;
        border: none;
        /* background-color: rgb(43, 41, 41); */
        /* box-shadow: rgba(71, 94, 99, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
        color: rgb(0, 0, 0);
        font-size: 17px;
        /* font-weight: 600; */
        /* border: 1px solid rgb(0, 0, 0); */
        outline: none;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        resize: vertical;
        padding-inline: 20px;
        box-sizing: border-box;
    }
    #co-btn{
        padding-top: 20px;
        
    }
    #btn{
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        width: 150px;
        height: 50px;
        font-size: 15px;
        font-weight: 600;
        /* outline: none; */
        border: none;
        /* background-color: rgb(45, 45, 46); */
        background-color:#4d4ae4;
        /* border: none; */
        /* border: 1px solid rgb(119, 118, 118); */
        border-radius: 7px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    #btn:hover{
        background-color: rgb(82, 82, 212);
        transform: translateY(0) scale(1.03);


    }
    #call,#location,#mail{
    margin: 0;
    color: #4d4ae4;
    font-size:150%;
    /* margin-right: 30%; */
    position:relative;
    top:35px;
    cursor: pointer;
    /* left: 10px; */
    right: 17%;

}
@media  (max-width: 1024px) {
    .my-details{
        width: 90%;
    }
}
@media (max-width:768px) {
    #co-d{
        font-size: 80%;
    }
    .contact-me{
        padding-top: var(--mobile-height);
    }
}


@media (max-width:600px) {
    .my-details{
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 50px;
    }
    .first-txt{
        font-size:var(--medium-heading);
    }
    .secnd-txt{
        font-size: var(--medium-short-headings);
    }
    
    .my-div{
        width: 95%;
        padding: 0;
        justify-content: center;
    }
    .personal-dt{
        margin-bottom: 0;

    }
    .my{
        width: 100%;
        font-size: 17px;

    }
    #co-d{
        margin: 0;
        margin-inline: 70px;
        margin-bottom: 8px;

    }
    #co-id{
        margin: 0;
        margin-inline: 70px;
        margin-bottom: 8px;

    }
    #call,#location,#mail{
        font-size: 120%;
        top: 35px;
        left:5%;
    }
    .input-sec{
        width: 95%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form {
        margin-top: 30px;
        width: 95%;
    }
}
@media (max-width:330px){
    .my{
        font-size: 15px;
    }
    #co-d{
        margin-inline: 50px;

    }
    #co-id{
        margin-inline: 50px;

    }
}